footer {
    background-color: darken($fourth-color,70%);
    color: white;
    padding-top: 1.4rem;
    @extend .container;
}

.footer-menu {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    h1 { 
        @include police-logo;
        font-size: 1.2rem;
        margin: 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    img {
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
    }
    li {
        margin-bottom: .7rem;
    }
}