footer {
    display: flex;
    flex-direction: column;
    border: solid red;
    h1 {
        font-size: 2rem;
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        margin: 0;
    }
}