header {
    @include btn-maxwidth;
    position: relative;
    text-align: center;
    margin: .6rem auto .4rem;
    img {
        position: absolute;
        left: 1.4rem;
        top: .5rem;
        width: 1rem;
        height: 2rem;
        transform: rotate(-90deg);
        @include desktop-version {
            left: 0;
            top: 1rem;
            width: 1.2rem;
        }
    }
    h1 {
        @include police-logo;
        @include desktop-version {
            font-size: 3rem;
        }
        margin: 0;
    }
}