header {
    position: relative;
    text-align: center;
    margin: .6rem auto .4rem;
    img {
        position: absolute;
        left: 1.4rem;
        top: .5rem;
        width: 1rem;
        height: 2rem;
        transform: rotate(-90deg);
    }
    h1 {
        font-size: 2rem;
        font-family: 'shrikhand', Arial, Helvetica, sans-serif;
        margin: 0;
    }
}