.loader {
    position: fixed;
    z-index: 99;
    @include positionTRBL;
    width: 100%;
    height: 100%;
    background: white;
    @include flexCenter;
    animation: fadeOut 2s forwards;
    &-anim {
        width: 20rem;
        height: 20rem;
        position: relative;
        &__spin {
            display: block;
            position: absolute;
            margin: 2rem;
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: 8px solid transparent;
            border-top-color: $secondary-color;
            animation: spin 2s linear 5;
            &::before {
                content: '';
                position: absolute;
                @include positionTRBL (.2rem, .2rem, .2rem, .2rem);
                border-radius: 50%;
                border: 8px solid transparent;
                border-top-color: darken($secondary-color, $amount: 20%);
                animation: spin 3s linear 5;
            }
            &::after {
                content: '';
                position: absolute;
                @include positionTRBL (.9rem, .9rem, .9rem, .9rem);
                border-radius: 50%;
                border: 8px solid transparent;
                border-top-color: darken($secondary-color, $amount: 40%);
                animation: spin 1.5s linear 5;
            }
        }  
        &__flatware {
            width: 100%;
            height: 100%;
            div {     
                transform-origin: 10.5rem 10.6rem;
                animation: flatware-anim 1.2s linear 5;
                img {
                    position: absolute;
                    top: 14rem;
                    left: 8.5rem;
                    height: 4rem;
                    width: 4rem;
                }
                @for $i from 1 to 13 {
                    &:nth-child(#{$i}) {
                        transform: rotate(-30deg + $i * 30deg);
                        animation-delay: -1.2s + $i * .1s;
                    }
                }
            }
        }
    }
}

