.loader {
    position: fixed;
    z-index: 99;
    @include positionTRBL;
    width: 100%;
    height: 100%;
    background: white;
    @include flexCenter;
    animation: fadeOut 2s forwards;
    &-anim {
        width: 20rem;
        height: 20rem;
        position: relative;
        &__spin {
            display: block;
            position: absolute;
            margin: 2rem;
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: 8px solid transparent;
            border-top-color: $secondary-color;
            animation: spin 2s linear 5;
            &::before {
                content: '';
                position: absolute;
                @include positionTRBL (.2rem, .2rem, .2rem, .2rem);
                border-radius: 50%;
                border: 8px solid transparent;
                border-top-color: darken($secondary-color, $amount: 20%);
                animation: spin 3s linear 5;
            }
            &::after {
                content: '';
                position: absolute;
                @include positionTRBL (.9rem, .9rem, .9rem, .9rem);
                border-radius: 50%;
                border: 8px solid transparent;
                border-top-color: darken($secondary-color, $amount: 40%);
                animation: spin 1.5s linear 5;
            }
        }  
        &__flatware {
            width: 100%;
            height: 100%;
            div {     
                transform-origin: 10.5rem 10.6rem;
                animation: flatware-anim 1.2s linear 5;
                img {
                    position: absolute;
                    top: 14rem;
                    left: 8.5rem;
                    height: 4rem;
                    width: 4rem;
                }
                &:nth-child(1) {
                    transform: rotate(0);
                    animation-delay: -1.1s;
                }
                &:nth-child(2) {
                    transform: rotate(30deg);
                    animation-delay: -1s;
                }
                &:nth-child(3) {
                    transform: rotate(60deg);
                    animation-delay: -.9s;
                }
                &:nth-child(4) {
                    transform: rotate(90deg);
                    animation-delay: -.8s;
                }
                &:nth-child(5) {
                    transform: rotate(120deg);
                    animation-delay: -.7s;
                }
                &:nth-child(6) {
                    transform: rotate(150deg);
                    animation-delay: -.6s;
                }
                &:nth-child(7) {
                    transform: rotate(180deg);
                    animation-delay: -.5s;
                }
                &:nth-child(8) {
                    transform: rotate(210deg);
                    animation-delay: -.4s;
                }
                &:nth-child(9) {
                    transform: rotate(240deg);
                    animation-delay: -.3s;
                }
                &:nth-child(10) {
                    transform: rotate(270deg);
                    animation-delay: -.2s;
                }
                &:nth-child(11) {
                    transform: rotate(300deg);
                    animation-delay: -.1s;
                }
                &:nth-child(12) {
                    transform: rotate(330deg);
                    animation-delay: 0s;
                }
            }
        }
    }
}

