body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  outline: none;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto bold";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto thin";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
body, h3, input {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

h2, h4, strong {
  font-family: "Roboto bold";
}

p {
  font-family: "Roboto thin";
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem;
}

input {
  font-size: 0.9rem;
}

.btn-action {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 2px 2px 14px #c3c3c3;
}
.btn-action h3 {
  margin: 1rem 1.2rem;
}
.btn-action a {
  color: white;
}
.btn-action--long {
  padding-left: 2rem;
  padding-right: 2rem;
}

.fonctionnement-btn {
  position: relative;
  width: 90%;
  height: 4.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 14px #c3c3c3;
}
.fonctionnement-btn img {
  height: 1.1rem;
  width: auto;
  margin: auto 1.3rem;
  filter: brightness(50%);
}
.fonctionnement-btn__number {
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.3rem;
  border-radius: 50%;
  padding-top: 0.2rem;
  margin-left: -0.7rem;
  text-align: center;
}
.fonctionnement-btn--select {
  position: absolute;
  width: 100%;
  height: 4.5rem;
  border-radius: 25px;
  background-color: #9356DC;
  opacity: 0%;
}
.fonctionnement-btn--select:hover {
  opacity: 10%;
}

.restaurants-card {
  position: relative;
  width: 20rem;
  height: 15rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 14px #c3c3c3;
}
.restaurants-card__img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.restaurants-card__legend {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
}
.restaurants-card__legend img {
  width: 1.8rem;
  height: 1.8rem;
  margin: 1.3rem;
}
.restaurants-card__legend__title {
  margin-left: 1rem;
  text-align: left;
}
.restaurants-card__legend__title h3 {
  margin-bottom: 0;
  margin-top: 0.9rem;
}
.restaurants-card__legend__title p {
  margin-top: 0.2rem;
  font-size: 1rem;
}
.restaurants-card__new {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  width: 26%;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.btn-plat {
  display: flex;
  background-color: white;
  margin: 1rem auto 0;
  width: 95%;
  height: 4rem;
  max-width: 30rem;
  padding-left: 1rem;
  border-radius: 20px;
  text-align: left;
  box-shadow: 2px 2px 14px #c3c3c3;
}
.btn-plat__text {
  border: solid blue;
  flex: 1;
}
.btn-plat__text h3 {
  width: 85%;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
.btn-plat__text__legend {
  border: solid green;
  display: flex;
  justify-content: space-between;
  width: 94%;
}
.btn-plat__text__legend p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}
.btn-plat:hover > .btn-plat__check {
  transform: scaleX(1);
}
.btn-plat__check {
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 4rem;
  text-align: center;
  background-color: #99E2D0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 500ms;
}
.btn-plat__check img {
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1.2rem;
}

.container, footer {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

footer {
  background-color: #444444;
  color: white;
  padding-top: 1.4rem;
}

.footer-menu {
  width: 90%;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-menu h2 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-size: 1.2rem;
  margin: 0;
}
.footer-menu ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-menu img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.footer-menu li {
  margin-bottom: 0.7rem;
}
.footer-menu a {
  color: white;
}

header {
  max-width: 30rem;
  position: relative;
  text-align: center;
  margin: 0.6rem auto 0.4rem;
}
header img {
  position: absolute;
  left: 1.4rem;
  top: 0.5rem;
  width: 1rem;
  height: 2rem;
  transform: rotate(-90deg);
}
header h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

.fonctionnement-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-form {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
}
.city-form img {
  margin-left: 1rem;
  width: 1rem;
  height: 1rem;
  align-self: center;
}
.city-form__place {
  background-color: #e2e2e2;
  margin: 0.8rem 0.5rem;
}
.city-form input:focus {
  border: 2px solid #9356DC;
  border-radius: 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}
.introduction:nth-child(n) {
  text-align: center;
}
.introduction h2 {
  width: 70%;
  margin: 2.2rem auto 0.5rem;
}
.introduction p {
  width: 90%;
  margin: 0.4rem auto 2rem;
}

.fonctionnement-section {
  width: 90%;
  max-width: 30rem;
  margin: auto;
}
.fonctionnement-section h2 {
  margin-left: 5%;
}

.restaurants {
  padding: 1.5rem 0 3rem;
  background-color: #F6F6F6;
}
.restaurants h2 {
  width: 20rem;
  margin: 1rem auto;
  max-width: 30rem;
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#palette {
  object-position: 0 -4rem;
}

#note {
  object-fit: cover;
  object-position: 0 -9rem;
}

#france, #delice {
  object-position: 0 -4rem;
}

.section-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-menus__img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  z-index: -1;
}

.menu-article {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
  padding-bottom: 4rem;
}
.menu-article__header {
  width: 90%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-article__header h2 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
.menu-article__header img {
  width: 1.7rem;
  height: 1.7rem;
}
.menu-article__single {
  width: 90%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.menu-article__single__header h3 {
  margin-bottom: 0.5rem;
  font-family: "roboto thin", Arial, Helvetica, sans-serif;
}

.souligne {
  background-color: #99E2D0;
  width: 3rem;
  height: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
