body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto bold";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto thin";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
body, h2 {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

h1, h3, strong {
  font-family: "Roboto bold";
}

p {
  font-family: "Roboto thin";
}

h1 {
  font-size: 1.6rem;
}

h2, input {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.btn-action {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 8px #909090;
}
.btn-action h2 {
  margin: 1rem;
}
.btn-action--long {
  padding-left: 2rem;
  padding-right: 2rem;
}

.fonctionnement-btn {
  border: none;
  width: 90%;
  height: 4.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 8px #909090;
}
.fonctionnement-btn img {
  height: 1.1rem;
  width: auto;
  margin: auto 1.3rem;
}
.fonctionnement-btn__number {
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.2rem;
  border-radius: 50%;
  padding-top: 0.3rem;
  margin-left: -1.3rem;
}

.restaurants-card {
  border: none;
  width: 20rem;
  height: 14rem;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #909090;
}
.restaurants-card__img {
  width: 100%;
  height: 72%;
  margin-top: -1rem;
  object-fit: cover;
  object-position: 0 -4rem;
  border-radius: 20px 20px 0 0;
}
.restaurants-card__legend {
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}
.restaurants-card__legend img {
  width: 1.8rem;
  height: 1.8rem;
  margin: 1.3rem;
}
.restaurants-card__legend__title {
  margin-left: 1rem;
  text-align: left;
}
.restaurants-card__legend__title h3 {
  margin-bottom: 0;
  margin-top: 0.9rem;
}
.restaurants-card__legend__title p {
  margin-top: 0.2rem;
}

.btn-plat {
  background-color: white;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  border-radius: 20px;
  text-align: left;
  box-shadow: 2px 2px 8px #909090;
  border: none;
}
.btn-plat h2 {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}
.btn-plat__legend {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.btn-plat__legend p {
  margin-top: 0.4rem;
  font-size: 1rem;
}

.container, footer {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

footer {
  background-color: #444444;
  color: white;
  padding-top: 1.4rem;
}

.footer-menu {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-menu h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-size: 1.2rem;
  margin: 0;
}
.footer-menu ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-menu img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.footer-menu li {
  margin-bottom: 0.7rem;
}
.footer-menu a {
  color: white;
}

header {
  position: relative;
  text-align: center;
  margin: 0.6rem auto 0.4rem;
}
header img {
  position: absolute;
  left: 1.4rem;
  top: 0.5rem;
  width: 1rem;
  height: 2rem;
  transform: rotate(-90deg);
}
header h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0;
}

.city-form {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
}
.city-form img {
  margin-left: 4rem;
  width: 1rem;
  height: 1rem;
  align-self: center;
}
.city-form__place {
  background-color: #e2e2e2;
  border: none;
  margin: 0.8rem 1rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}
.introduction:nth-child(n) {
  text-align: center;
}
.introduction h1 {
  width: 70%;
  margin: 2.2rem auto 0.5rem;
}
.introduction p {
  width: 90%;
  margin: 0.4rem auto 2rem;
}

.fonctionnement-section, .restaurants {
  padding: 1.5rem 0 3rem;
}
.fonctionnement-section h1, .restaurants h1 {
  margin-left: 5%;
}

.fonctionnement-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants {
  background-color: #F6F6F6;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-menus__img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu-article {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
  padding-bottom: 4rem;
}
.menu-article__header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-article__header h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.menu-article__header img {
  width: 1.7rem;
  height: 1.7rem;
}
.menu-article__single {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.menu-article__single__header h2 {
  margin-bottom: 0.5rem;
}

.souligne {
  background-color: #99E2D0;
  width: 3rem;
  height: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
