.btn-action {
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 30px;
    @include btn-shadow;
    h3 {
        margin: 1rem 1.2rem;
    }
    a {
        color: white;
    }
    &--long {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &:hover {
        @include btn-shadow(8px, 8px, 6px);
        filter: brightness(110%);
    }
}

.fonctionnement-btn {
    position: relative;
    width: 90%;
    height: 4.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2rem;
    background-color: $fourth-color;
    @include btn-shadow;
    &:nth-child(1) p::before {
        @include icon;
    }
    &:nth-child(2) p::before {
        @include icon ("\f0ca", 1.3em);
    }
    &:nth-child(3) p::before {
        @include icon ("\f54e", 1.2em);
    }
    &__icon {
        margin: auto 6%;
    }
    &__number {
        background-color: $primary-color;
        color: white;
        width: 1.5rem;
        height: 1.4rem;
        border-radius: 50%;
        padding-top: .17rem;
        margin-left: -.9rem;
        text-align: center;
    }
    &--select {
        position: absolute;
        width: 100%;
        height: 4.5rem;
        border-radius: 25px;
        background-color: $primary-color;
        opacity: 0%;
        &:hover {
            opacity: 20%;
        }
    }
    &:hover {
        @include btn-shadow(8px, 8px, 6px);
        filter: brightness(110%);
        & > p::before {
            color: $primary-color;
        }
    }
}

.restaurants-card {
    position: relative;
    width: 90%;
    @include btn-maxwidth;    
    height: 14rem;
    margin-bottom: 1rem;
    @include desktop-version {
        margin: 1rem;
        max-width: 22rem;
    }
    border-radius: 20px;
    @include btn-shadow;
    &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    &__legend {
        position: absolute;
        background-color: white;
        width: 100%;
        bottom: 0;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        &__heart {
            position: relative;
            margin: 1.2rem;
            width: 1.8rem;
            height: 1.8rem;
            text-align: center;
            &::before {
                @include heart ($family: 'Font Awesome 5 empty', $weight: 400);
            }
            &:hover::after {
                opacity: 1;
            }
            &::after {
                @include heart;
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: opacity 800ms;
                transform-origin: bottom;
                opacity: 0;
            }
        }
        &__title {
            margin-left: 1rem;
            text-align: left;
            h3 {
                margin-bottom: 0;
                margin-top: .9rem;
                font-size: 1.1rem;
            }
            p {
                margin-top: .2rem;
                font-size: 1rem;
            }
        }
    }
    &__new {
        position: absolute;
        top: .8rem;
        right: 1rem;
        width: 26%;
        background-color: $third-color;
        color: darken($third-color, $amount: 40%);
        text-align: center;
        font-size: .9rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
    &:hover {
        @include btn-shadow(8px, 8px, 6px);
        filter: brightness(110%);
    }
}
.btn-plat {
    animation: fadeIn 3s forwards;
    cursor: pointer;
    display: flex;
    background-color: white;
    margin: 1rem auto 0;
    width: 95%;
    height: 4rem;
    @include btn-maxwidth;
    padding-left: 1rem;
    border-radius: 20px;
    @include btn-shadow;
    overflow: hidden;
    &:nth-child(3) {
        animation-delay: .3s;
    }
    &:nth-child(4) {
        animation-delay: .6s;
    }
    &:nth-child(5) {
        animation-delay: .9s;
    }
    &__legend {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 94%;   
        overflow: hidden;
        white-space: nowrap;
        h3 {
            margin: .6rem 0 0;
            overflow: hidden;
            text-overflow: ellipsis;       
        }
        p {
            margin: .4rem 0 .6rem;
            font-size: .9rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        margin: 2.2rem 1rem 0;
    }
    &:hover {
        @include btn-shadow(8px, 8px, 6px);
        filter: brightness(110%);
    }
    &:hover > &__check {
        transform: translateX(0);
        animation: widthGrow 600ms forwards;
        > img {
            transform: rotate(1turn);
        }
    }
    &__check {
        border-radius: 0 20px 20px 0;
        height: 100%;
        width: 0;
        text-align: center;
        background-color: darken($third-color, $amount: 10%);
        transform-origin: right;
        transform: translateX(6rem);
        transition: transform 500ms ease;
        animation: widthShrink 400ms forwards;
        &__img {
            width: 1.3rem;
            height: 1.3rem;
            margin-top: 1.4rem;
            transform: rotate(0);
            transition: transform 600ms ease-in-out;
        }
    }
}