.btn-action {
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 30px;
    @include btn-shadow;
    h3 {
        margin: 1rem 1.2rem;
    }
    a {
        color: white;
    }
    &--long {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.fonctionnement-btn {
    position: relative;
    width: 90%;
    height: 4.5rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    background-color: $fourth-color;
    @include btn-shadow;
    img {  
        height: 1.1rem;
        width: auto;
        margin: auto 1.3rem;
        filter: brightness(50%);
    }
    &__number {
        background-color: $primary-color;
        color: white;
        width: 1.5rem;
        height: 1.3rem;
        border-radius: 50%;
        padding-top: .2rem;
        margin-left: -.7rem;
        text-align: center;
    }
    &--select {
        position: absolute;
        width: 100%;
        height: 4.5rem;
        border-radius: 25px;
        background-color: $primary-color;
        opacity: 0%;
        &:hover {
            opacity: 10%;
        }
    }
}

.restaurants-card {
    position: relative;
    width: 20rem;
    height: 15rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    @include btn-shadow;
    &__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    &__legend {
        position: absolute;
        background-color: white;
        width: 100%;
        bottom: 0;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        img {
            width: 1.8rem;
            height: 1.8rem;
            margin: 1.3rem;
        }
        &__title {
            margin-left: 1rem;
            text-align: left;
            h3 {
                margin-bottom: 0;
                margin-top: .9rem;
            }
            p {
                margin-top: .2rem;
                font-size: 1rem;
            }
        }
    }
    &__new {
        position: absolute;
        top: .8rem;
        right: 1rem;
        width: 26%;
        background-color: $third-color;
        color: darken($third-color, $amount: 40%);
        text-align: center;
        font-size: .9rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
}

.btn-plat {
    display: flex;
    background-color: white;
    margin: 1rem auto 0;
    width: 95%;
    height: 4rem;
    @include btn-maxwidth;
    padding-left: 1rem;
    border-radius: 20px;
    @include btn-shadow;
    overflow: hidden;
    text-overflow: ellipsis;
    &__legend {
        border: solid green;
        display: flex;
        flex-direction: column;
        width: 94%;
        h3 {
            margin: .3rem 0 0;
            border: solid blue;
        }
        p {
            margin-top: .4rem;
            font-size: .9rem;           
            border: solid orange;
        }
    }
    &__price {
        margin: 2.5rem 1rem 0;
        border: solid pink;
    }
    &:hover > &__check {
        transform: translateX(0);
    }
    &:hover > &__check__img {
        transform: rotate(1turn);
    }
    &__check {
        border-radius: 0 20px 20px 0;
        height: 100%;
        width: 4rem;
        text-align: center;
        background-color: $third-color;
        transform-origin: right;
        transform: translateX(4rem);
        transition: transform 500ms;
        &__img {
            width: 1.5rem;
            height: 1.5rem;
            margin-top: 1.2rem;
            transform: rotate(0);
        }
    }
}