@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto bold';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto thin';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
}

body, h2 {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1, h3 {
    font-family: 'Roboto bold';
}

p {
    font-family: 'Roboto thin';
}

h1 {
    font-size: 1.6rem;
}

h2, input {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

