.city-form {
    display: flex;
    justify-content: center;
    background-color: $fifth-color;
    img {  
        margin-left: 1rem;  
        width: 1rem;
        height: 1rem;
        align-self: center;
    }
    &__place {
        background-color: $fifth-color;
        margin: .8rem .5rem;
    }
    input:focus {
        border: 2px solid $primary-color;
        border-radius: 20px;
    }
}

.introduction {
    @include flex-column;
    background-color: $fourth-color;
    padding-bottom: 3rem;
    &:nth-child(n) {
        text-align: center;
    }
    h2 {  
        width: 70%;
        margin:2.2rem auto .5rem;
    }
    p {
        width: 90%;
        margin: .4rem auto 2rem;
    }
}

.fonctionnement-section {
    width: 90%;
    @include btn-maxwidth;
    margin: auto;
    h2 {
        margin-left: 5%;
    }
}

.restaurants {
    padding: 1.5rem 0 3rem;
    background-color: $fourth-color;
    h2 {
        width: 20rem;
        margin: 1rem auto;
        @include btn-maxwidth;
    }
    &-cards {
        @include flex-column;
    }
}

#palette {
    object-position: 0 -4rem;
}

#note {
    object-fit: cover;
    object-position: 0 -9rem;
}

#france, #delice {
    object-position: 0 -4rem;
}