.city-form {
    display: flex;
    justify-content: center;
    background-color: $fifth-color;
    img {  
        margin-left: 4rem;  
        width: 1rem;
        height: 1rem;
        align-self: center;
    }
    &__place {
        background-color: $fifth-color;
        border: none;
        margin: .8rem 1rem;
    }
}

.introduction {
    @include flex-column;
    background-color: $fourth-color;
    padding-bottom: 3rem;
    &:nth-child(n) {
        text-align: center;
    }
    h1 {  
        width: 70%;
        margin:2.2rem auto .5rem;
    }
    p {
        width: 90%;
        margin: .4rem auto 2rem;
    }
}

.fonctionnement-section {
    padding: 1.5rem 0 3rem;
    h1 {
        margin-left: 5%;
    }
}

.fonctionnement-btns {
    @include flex-column;
}

.restaurants {
    @extend .fonctionnement-section;
    background-color: $fourth-color;
}

.restaurants-cards {
    @include flex-column;
}