.section-menus {
    @include flex-column;
    &__img {
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.menu-article {
    width: 100%;
    background-color: $fourth-color;
    border-radius: 20px 20px 0 0;
    @include flex-column;
    margin-top: -3rem;
    padding-bottom: 4rem;
    &__header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            @include police-logo;
        }
        img {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
    &__single {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
        &__header h2 {
            margin-bottom: .5rem;
        }
    }
}

.souligne {
    background-color: $third-color;
    width: 3rem;
    height: .2rem;
}