@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
}

@keyframes flatware-anim {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeOut {
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
       visibility: hidden;
    }
}

@keyframes fadeIn {
    50%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
       opacity: 1;      
    }
}