@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
}

@keyframes flatware-anim {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeOut {
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
       visibility: hidden;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 2rem);
    }
    50%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 1rem);
    }
    100%{
       opacity: 1;
       transform: translate(0, 0);  
    }
}

@keyframes widthGrow {
    0%{
        width: 0;
    }
    100%{
        width: 5.5rem;
    }
}

@keyframes widthShrink {
    0%{
        width: 5.5rem;
        filter: brightness(110%);
    }
    100%{
        width: 0;
        filter: brightness(110%);
    }
}