@mixin btn-shadow {
    box-shadow: 2px 2px 14px darken($fourth-color,20%);
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin police-logo {
    font-family: 'shrikhand', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

@mixin btn-maxwidth {
    max-width: 30rem;
}